%h2 Who are we helping?

%p
This year we hope to bring in multiple problem owners to keep the teams smaller. So far we have Resonate http://rsn8.org - a start-up company committed to helping out the people who help out others. They have identified a particular need in our community for more information about social enterprises.  There are more than 20,000 social enterprises in Australia spanning a range of industries.  These businesses work hard to pour sustainable benefit back into our community; whether that's training up disadvantaged people or donating funds to causes.  The more business they receive, the better off our communities will be.

%p
Resonate are hoping to give these businesses a much needed boost to their marketing and publicity through creating an app that showcases social enterprises in an accessable map based format.  This empowers people to learn about and utilise social enterprises in their everyday spending.

%p
Their solution is in its infancy in terms of design.  However, they have undertaken substantial research with the social enterprise sector to identify their appetite and need for such an app.  Their ultimate vision is for a society where social enterprise is the "norm" of business.  Where giving back is expected by the consumer."
%p
 Last year our problem owner was QLD Kids.
  
  = link_to "queenslandkids.org.au", "http://www.queenslandkids.org.au", target: "_blank", title: "Queensland Kids"

  = "- The biggest problem that <em>Queensland Kids</em> and their families are facing is being able to access the services and information available to them."
%p
  We hacked solutions to bridge this gap, taking advantage of all the existing resources, open data, and technology solutions we could find.
