
%h2 Do you have a worthy problem?

%p
  If you have a problem worth solving, please give us a little intro by <a href="https://docs.google.com/forms/d/1Q1ixXNKfphuZPyyMc67B_-eLDdT5pWH9C26PIKBnvrk/viewform">filling in this form</a> and we’ll get in touch.

%p= link_to 'Contact Us', 'https://docs.google.com/forms/d/1Q1ixXNKfphuZPyyMc67B_-eLDdT5pWH9C26PIKBnvrk/viewform', class: 'button'

%h2 Who have we helped?

%p
  In the last event we helped <a href="http://rsn8.org" target="_blank">Resonate</a> and <a href="http://www.kidzcanzimbabwe.org/" target="_blank">Kidzcan</a>.

%p
  Resonate is a <abbr title="Not for profit">NFP</abbr> social enterprise with a passion for connecting skilled people to local and international causes, around issues they care about.

%p
  Kidzcan is dedicated to increasing the survival rate of children with cancer in a loving and caring environment.

%p
  In 2013 we helped <a href="http://www.queenslandkids.org.au" target="_blank">QLD Kids</a> - The biggest problem that <em>Queensland Kids</em> and their families are facing is being able to access the services and information available to them.

%p
  We hacked solutions to bridge this gap, taking advantage of all the existing resources, open data, and technology solutions we could find.

%p
  Our previous work is viewable <a href="https://github.com/rhokbrisbane/">on GitHub</a>.
