%h2 Sponsors

.sponsor-links
  = link_to image_tag('sponsors/netengine.png'), 'http://netengine.com.au/', title: "NetEngine Custom Software. Built for Growth. Built to Adapt. Built for People.", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/dius.png'), 'http://dius.com.au/', title: "Where ideas are engineered - DiUS", target: "_blank", class: "sponsor-link"


