%h2 RHoK Global Hackathon

%p
  %strong.date 6 and 7 Dec 2014


%p
  RHoK Brisbane will be hosted by
  = link_to 'NetEngine', 'http://netengine.com.au/', title: "NetEngine", target: "_blank"
  at their office location:


%p.address
  7 Prospect Street, Fortitude Valley,
  %br
  Brisbane Australia 4006

  = link_to "(map)", 'https://maps.google.com.au/maps?t=m&ll=-27.452175600000025%2C153.0374968&q=7+Prospect+Street%2C+Fortitude+Valley%2C+Queensland&spn=0.009254174398395567%2C0.013904665435361601&output=classic', target: "_blank"


#program

  %h3 Saturday

  %ul
    %li 9.00 – 9.30 Get set up, and ready for 2 great days
    %li 9.30 – 9.45 Welcome, hear the problem, meet the problem owner
    %li 9.45 - 10.30 Choosing problem areas to work on, and teams to work with
    %li
      11.00 - 17.00 Hack

    %li
      17.00 – Have a beer, go home and rest!


  %p Coffees sponsored by NetEngine throughout the day.

  %h3  Sunday

  %ul
    %li 9.00 – 15.00 Hacking continues
    %li 15.00 – Time to down tools
    %li 15.00 – 15.45 Teams get 15 minutes to present their solution
    %li 15.45 – 16.00 Beer and rest :)


  %p More details about the event and those attending is available on <a href="http://www.meetup.com/Rhok-Brisbane/events/208944802/" target="_blank">Meetup.com</a>
